footer {
    background-color: #353535;

    .footer__logo {
        font-family: $secondary-font;
        font-size: 25px;
        padding-top: 20px;
        margin-left: 40px;
        color: white;
    }

    ul {
        color: white;
        list-style-type: none;
        font-size: 23px;
        padding-bottom: 30px;
        margin-bottom: 0;

        li {
            margin-bottom: 10px;

            .fa-utensils {
                margin-right: 20px;
            }

            .fa-handshake-angle {
                margin-right: 11px;
            }
        }

        a {
            color: white;
        }
    }
}