@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@keyframes hidepageloader {
  to {
    visibility: hidden;
  }
}
@keyframes spinningloader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes progressivemenu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pageloader {
  background-color: #fff;
  height: 100vh;
  text-align: center;
  font-size: 40px;
  font-family: "Shrikhand", "cursive";
  line-height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: hidepageloader 1s forwards;
}
.pageloader .pageloader__spinner {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.pageloader .pageloader__spinner:before {
  border-radius: 50px;
  content: "";
  position: absolute;
  inset: 20px;
  border: 5px solid #99E2D0;
}
.pageloader .pageloader__spinner:after {
  border-radius: 50px;
  content: "";
  position: absolute;
  inset: -6px;
  border: 5px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  animation: spinningloader 1s linear 0s infinite;
}
.pageloader .pageloader__text {
  margin-left: 15px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #99E2D0, #9356DC, #FF79DA);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "sans-serif";
  box-sizing: border-box;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.location {
  text-align: center;
  background-color: #EAEAEA;
  padding: 20px;
  box-shadow: 5px 5px 15px lightgrey;
}
.location .location__icon {
  margin-right: 10px;
}
.location .location__text {
  font-size: 20px;
}

.indexintro {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.indexintro .indexintro__title {
  font-size: 35px;
  text-align: center;
}
.indexintro .indexintro__desc {
  font-size: 28px;
  margin-bottom: 50px;
  text-align: center;
}
.indexintro .indexintro__button {
  margin-bottom: 50px;
  font-size: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 20px;
  border: none;
  transform: scale(1);
  transition: 400ms;
  box-shadow: 5px 5px 10px lightgrey;
}
.indexintro .indexintro__button:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 5px lightgrey;
}
.indexintro .indexintro__button a {
  color: white;
}

.working {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.working .working__title {
  margin: 50px 30px;
  font-size: 35px;
  align-self: flex-start;
  margin-left: 40px;
}
.working .working__step {
  background-color: #F6F6F6;
  margin-bottom: 40px;
  font-size: 30px;
  padding: 30px 40px;
  border-radius: 30px;
  width: 70%;
  box-shadow: 5px 5px 15px lightgrey;
}
.working .working__step .working__digit {
  background-color: #9356DC;
  font-size: 20px;
  border-radius: 100%;
  padding: 5px 10px;
  margin-left: -50px;
  color: white;
}
.working .working__step .working__icon {
  margin: 0px 30px;
  color: grey;
}
.working .working__step .working__desc {
  font-weight: 500;
  font-size: 28px;
}
.working .working__step:hover {
  background-color: #f5edff;
}
.working .working__step:hover .working__icon {
  color: #9356DC;
}

.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants .restaurants__title {
  font-size: 35px;
  margin-top: 80px;
  margin-left: 30px;
  align-self: flex-start;
}
.restaurants .restaurantcard {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 20px;
  transform: scale(1);
  transition: 400ms;
  box-shadow: 5px 5px 15px lightgrey;
}
.restaurants .restaurantcard:hover {
  transform: scale(1.02);
  box-shadow: 15px 15px 5px lightgrey;
}
.restaurants .restaurantcard .restaurantcard__image img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants .restaurantcard .restaurantcard__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants .restaurantcard .restaurantcard__desc .restaurantcard__text {
  margin: 0 0 20px 20px;
  font-size: 20px;
}
.restaurants .restaurantcard .restaurantcard__desc .restaurantcard__text .restaurantcard__title {
  margin-bottom: 0;
}
.restaurants .restaurantcard .restaurantcard__desc .restaurantcard__text .restaurantcard__location {
  font-size: 20px;
}
.restaurants .restaurantcard .restaurantcard__desc .restaurantcard__like {
  position: relative;
  margin-right: 10px;
}
.restaurants .restaurantcard .restaurantcard__desc .restaurantcard__like .restaurantcard__heart {
  font-size: 50px;
}
.restaurants .restaurantcard .restaurantcard__desc .restaurantcard__like .restaurantcard__heart--full {
  font-size: 50px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: 300ms;
}
.restaurants .restaurantcard .restaurantcard__desc .restaurantcard__like:hover .restaurantcard__heart--full {
  opacity: 1;
}
.restaurants .restaurantcard .restaurantcard__desc .restaurantcard__like:hover .restaurantcard__heart--full::before {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
}

.restaurantintro .restaurantintro__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.restaurantintro .restaurantintro__desc {
  display: flex;
  justify-content: space-between;
  border-radius: 50px 50px 0 0;
  border: 1px solid;
}
.restaurantintro .restaurantintro__desc .restaurantintro__title {
  font-size: 35px;
  letter-spacing: 1px;
  font-family: "Shrikhand", "cursive";
}
.restaurantintro .restaurantintro__desc .restaurantintro__like {
  position: relative;
  align-self: center;
}
.restaurantintro .restaurantintro__desc .restaurantintro__like .restaurantintro__heart {
  font-size: 35px;
}
.restaurantintro .restaurantintro__desc .restaurantintro__like .restaurantintro__heart--full {
  font-size: 35px;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: 300ms;
}
.restaurantintro .restaurantintro__desc .restaurantintro__like .restaurantintro__heart--full:hover {
  opacity: 1;
}
.restaurantintro .restaurantintro__desc .restaurantintro__like .restaurantintro__heart--full:hover::before {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
}

.menu {
  margin: 20px;
}
.menu .menu__title {
  font-weight: 300;
  margin-top: 50px;
}
.menu .menu__title:after {
  border-bottom: 4px solid #99E2D0;
  display: block;
  content: "";
  max-width: 45px;
  padding: 5px 0px;
}
.menu .menu__dish {
  border-radius: 20px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 15px lightgrey, -5px -5px 15px lightgrey;
  animation: progressivemenu 2s linear;
}
.menu .menu__dish .dish__title {
  font-size: 25px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.menu .menu__dish .dish__desc {
  font-size: 20px;
  font-weight: 300;
  margin-left: 10px;
}
.menu .menu__dish .dish__price {
  background-color: transparent;
  font-weight: 700;
}

.order {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.order .order__button {
  font-size: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 20px;
  border: none;
  color: white;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
}
header .header__arrow {
  font-size: 25px;
  align-self: center;
  position: absolute;
  left: 0;
  margin-left: 30px;
  width: 5px;
}
header .header__logo {
  font-family: "Shrikhand", "cursive";
  font-size: 40px;
  letter-spacing: 1px;
  margin: 10px auto;
}

footer {
  background-color: #353535;
}
footer .footer__logo {
  font-family: "Shrikhand", "cursive";
  font-size: 25px;
  padding-top: 20px;
  margin-left: 40px;
  color: white;
}
footer .footer__linkslist {
  color: white;
  list-style-type: none;
  font-size: 23px;
  padding-bottom: 30px;
  margin-bottom: 0;
}
footer .footer__linkslist .footer__link {
  margin-bottom: 10px;
}
footer .footer__linkslist .footer__link .footer__ustensilsicon {
  margin-right: 20px;
}
footer .footer__linkslist .footer__link .footer__handshakeicon {
  margin-right: 11px;
}
footer .footer__linkslist a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
