html {
    scroll-behavior: smooth
}

body {
    font-family: $primary-font;
    box-sizing: border-box;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin: auto;
}