@media screen and (min-width: 1200px) {

    // INDEX
    .working {
        flex-flow: row wrap;
        justify-content: space-around;

        h2 {
            width: 100%;
            padding-left: 13px;
        }

        .working__step {
            width: 25%;
            padding: 15px 25px;
            font-size: 20px;

            mark {
                margin-left: -40px;
            }
        }
    }

    #restaurants {
        flex-flow: row wrap;
        justify-content: space-around;

        h2 {
            width: 100%;
            padding-left: 22px;
        }

        .restaurantcard {
            max-width: 500px;
        }
    }

    //PAGE RESTAURANT
    .restaurantintro {
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            z-index: 1;
            border-radius: 20px 20px 0 0;
        }

        .restaurantintro__desc {
            border-radius: 0;
            margin-top: 0;
        }

    }

    .menucontainer {
        display: flex;
        justify-content: center;

        .menu {
            width: 33%;
        }
    }
}