/* @media screen and (min-width: 992px) {
    .working {
        flex-flow: row wrap;

        h2 {
            width: 100%;
        }

        .working__step {
            width: 24%;
            max-width: 350px;
            margin-right: 30px;
            padding: 15px 20px;

            mark {
                margin-left: -30px;
            }

            span {
                font-size: 20px;
            }

        }

    }

    .restaurantslist {
        flex-flow: row wrap;

        h2 {
            width: 100%;
        }

        @media screen and (min-width: 992px) {
            flex-flow: row wrap;

            h2 {
                width: 100%;
            }
        }
    }
}

h2 {
    width: 45%;
    max-width: 650px;
    margin: 20px;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 1440px;
        margin: auto;
    }

    .flexwrap {
        display: flex;
        flex-wrap: wrap;
    }

    .flexnowrap {
        display: flex;
        flex-wrap: nowrap;
    }
} */

@media screen and (min-width: 1200px) {

    // INDEX
    .working {
        flex-flow: row wrap;
        justify-content: space-around;

        h2 {
            width: 100%;
        }

        .working__step {
            width: 25%;
            padding: 15px 25px;
        }
    }

    #restaurants {
        flex-flow: row wrap;
        justify-content: space-around;

        h2 {
            width: 100%;
        }
    }

    //PAGE RESTAURANT
    .menucontainer {
        display: flex;
        justify-content: center;

        .menu__dish {
            width: 400px;
            margin-right: 30px;
        }
    }
}