.location {
    text-align: center;
    background-color: $darkgrey;
    padding: 20px;
    @include shadow;

    .location__icon {
        margin-right: 10px;
    }

    .location__text {
        font-size: 20px;
    }
}

.indexintro {
    background-color: $lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;

    .indexintro__title {
        font-size: 35px;
        text-align: center;
    }

    .indexintro__desc {
        font-size: 28px;
        margin-bottom: 50px;
        text-align: center;
    }

    .indexintro__button {
        margin-bottom: 50px;
        font-size: 20px;
        background: linear-gradient($secondary-color, $primary-color);
        border-radius: 30px;
        padding: 20px;
        border: none;
        transform: scale(1);
        transition: 400ms;
        @include light-shadow;

        &:hover {
            transform: scale(1.02);
            @include light-shadow-hover;
        }

        a {
            color: white;
        }
    }


}

.working {
    display: flex;
    flex-direction: column;
    align-items: center;

    .working__title {
        margin: 50px 30px;
        font-size: 35px;
        align-self: flex-start;
        margin-left: 40px;
    }

    .working__step {
        background-color: $lightgrey;
        margin-bottom: 40px;
        font-size: 30px;
        padding: 30px 40px;
        border-radius: 30px;
        width: 70%;
        @include shadow;

        .working__digit {
            background-color: $primary-color;
            font-size: 20px;
            border-radius: 100%;
            padding: 5px 10px;
            margin-left: -50px;
            color: white;
        }

        .working__icon {
            margin: 0px 30px;
            color: grey;
        }

        .working__desc {
            font-weight: 500;
            font-size: 28px;
        }

        &:hover {
            background-color: #f5edff;

            .working__icon {
                color: $primary-color;
            }
        }
    }

}

.restaurants {
    background-color: $lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;

    .restaurants__title {
        font-size: 35px;
        margin-top: 80px;
        margin-left: 30px;
        align-self: flex-start;
    }

    .restaurantcard {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 50px;
        background-color: white;
        border-radius: 20px;
        transform: scale(1);
        transition: 400ms;
        @include shadow;

        &:hover {
            transform: scale(1.02);
            @include shadow-hover;
        }

        .restaurantcard__image img {
            height: 300px;
            width: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }

        .restaurantcard__desc {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .restaurantcard__text {
                margin: 0 0 20px 20px;
                font-size: 20px;

                .restaurantcard__title {
                    margin-bottom: 0;
                }

                .restaurantcard__location {
                    font-size: 20px;
                }
            }

            .restaurantcard__like {
                position: relative;
                margin-right: 10px;

                .restaurantcard__heart {
                    font-size: 50px;
                }

                .restaurantcard__heart--full {
                    font-size: 50px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    opacity: 0;
                    transition: 300ms;
                }

                &:hover .restaurantcard__heart--full {
                    opacity: 1;

                    &::before {
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        background-image: linear-gradient(#9356DC, #FF79DA);
                    }
                }
            }
        }
    }
}