@mixin boxshadow {
    box-shadow: 5px 5px 15px lightgrey;
}

@mixin boxshadow--hover {
    box-shadow: 15px 15px 5px lightgrey;
}

@mixin boxshadow--button {
    box-shadow: 5px 5px 10px lightgrey;
}

@mixin boxshadow--button--hover {
    box-shadow: 10px 10px 5px lightgrey;
}